
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* background: #DADADA; */
    /* background: linear-gradient(#7e7e7e, #F3F3F3); */
}

.wrapper {
    
    width: 100%;
}

.header {
    padding-top: 20px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.2);
}

.logo {
    display: table;
    margin: 0 auto;
    transition: transform 0.2s; 
    padding-bottom: 10px;
}
.logo:hover {
    transform: scale(1.1);
}
.logo-text {
    display: table;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

/*
.main-menu {
    margin-top: 40px;
    background: #444444;
}
.nav-menu {
    display: table;
    margin: 0 auto;
}
.nav-item {
    display: inline-block;
    list-style: none;
    margin: -3px;
    padding: 17px;
}
.nav-item a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 17px 60px;
}
.nav-item a:hover {
    color: #444444;
    background: white;
}
*/

/* ================ */
nav {
    background: #444444;
    padding: 0 !important;
}
.navbar {
  margin-top: 40px;
}
.navbar-nav { 
    margin: auto;
}
.nav-item {
    margin: auto ;
}
.nav-item a {
    color: white !important;
    font-weight: bold !important;
    text-decoration: none !important;
    padding: 17px 60px !important;
}
.nav-item a:hover {
  color: #444444 !important;
  background: #fff !important;
}
button.navbar-toggler {
    color: white !important;
    display: table;
    margin: 0 auto;
}
.logout-link a, .logout-link button {
  background: #C23;
}
.logout-link a:hover, .logout-link button:hover {
  color: white !important;
  text-decoration: underline;
  background: #C43 !important;
}

/* ================ */

.form-control {
    border-radius: 0px !important;
}

.main-container {
    margin-top: 30px;
}
.container {
    width: 980px;
    margin: 0 auto;
    background: white;
}
.container-menu {
    margin: 25px;
}
.c-d-l-2 {
    padding: 10px !important;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.2);
}
.c-d-l-2:hover {
    border: 2px solid #23282d;
    background: #23282d !important;
}
.container-header {
    color: white;
    text-align: center;
}
.container-header h2 { padding: 10px; background: #444444; }
.container-table {
    background: white;
    display: table;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.2);
}
.container-table-postuler {
  background: white;
  display: table;
  margin: 30px auto;
  padding: 20px;
 /* box-shadow: 0 5px 30px 0 rgba(0,0,0,.2);*/
  height: 820px;
}
.container-table table {
    padding: 15px;
}
.container-table table tr th {
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #444444;
}
.container-table table tr {
    padding: 5px;
}
.container-table table td {
    padding: 10px;
}
.container-details-link, .add-more-langues-link {
    color: #444444 !important;
    text-decoration: none;
    padding: 3px 10px;
    border: 2px solid #444444;
    border-radius: 2px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
    cursor: pointer;
    background: white;
}
.container-details-link:hover, .add-more-langues-link:hover {
    color: white !important;
    background: #444444;
    text-decoration: none;
}
.btn-container-result-file:hover {
  color: orange !important;
  background: white;
  text-decoration: none;
}
.btn-container-result-file {
  color: white !important;
  text-decoration: none;
  padding: 3px 10px;
  border: 2px solid orange;
  border-radius: 2px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
  cursor: pointer;
  background: orange;
}
.btn-container {
    border: 2px solid #444444 !important;
    padding: 5px 20px !important;
    cursor: pointer;
    color: white !important;
    background: #444444 !important;
    text-decoration: none;
}
.btn-container:hover {
    color: #444444 !important;
    background: white !important;
    text-decoration: none;
}

.container-details-link-blue {
  color: #1f6aa3 !important;
  text-decoration: none;
  padding: 3px 10px;
  border: 2px solid #1f6aa3;
  border-radius: 2px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
  cursor: pointer;
  background: white;
}
.container-details-link-blue:hover {
  color: white !important;
  background: #1f6aa3;
  text-decoration: none;
}
.container-details-link-orange {
  color: indianred !important;
  border: 2px solid indianred;
  background: white;
}
.container-details-link-orange:hover {
  color: white !important;
  border: 2px solid indianred;
  background: indianred;
}
.container-details-link-green {
  color: #338984 !important;
  border: 2px solid #338984;
  background: white;
}
.container-details-link-green:hover {
  color: white !important;
  border: 2px solid #338984;
  background: #338984;
}

.exp_style {
  background: #444444;
  color: white;
}
.exp_style:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profil-floated-box {
  margin-bottom: 15px;
}

.footer {
    text-align: center;
    color: white;
    margin-top: 40px;
    padding: 5px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.2);
    background: #444444;
}


/* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #444444;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #444444;
}

.underlineHover:hover:after{
  width: 100%;
}
.underlineHover {
    color: #444444;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}




@media only screen and (max-width: 992px) {
    .container-details-link .container-details-text {
        display: none;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        background: white !important;
        border-radius: 0;
    }
}


.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }





 /* hassan */



 .steps {
   width: 675px;
  margin: 50px auto;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.steps fieldset {
  background: white;
  border: 0 none;
  box-shadow: 0 17px 41px -21px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 9px solid #444444;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
.steps fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
.steps label{
  color: #333333;
  text-align: left !important;
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 7px;
  padding-top: 12px;
  display: inline-block;
}


.steps input, .steps textarea {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  color: #837E7E;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.steps input:focus, .steps textarea:focus{
  color: #333333;
  border: 1px solid #444444;
}

.error1{
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  position: absolute;
  left: 525px;
  margin-top: -58px;
  padding: 0 10px;
  height: 39px;
  display: block;
  color: #ffffff;
  background: #e62163;
  border: 0;
  line-height: 39px;
  white-space: nowrap;

}

.error1:before{
    width: 0;
  height: 0;
  left: -8px;
  top: 14px;
  content: '';
  position: absolute;
  border-top: 6px solid transparent;
  border-right: 8px solid #e62163;
  border-bottom: 6px solid transparent;
}

.error-log{
    margin: 5px 5px 5px 0;
  font-size: 19px;
  position: relative;
  bottom: -2px;
}

.question-log {
  margin: 5px 1px 5px 0;
  font-size: 15px;
  position: relative;
  bottom: -2px;
  }

/*buttons*/
.steps .action-button, .action-button {
  width: 100px !important;
  background: #444444;
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  /* padding: 10px 5px; */
  margin: 10px auto;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  display: block;

  border-radius: 2px;
  padding: 3px 10px;
  border: 2px solid #444444;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
}

.steps .next, .steps .submit{
    float: right;
}

.steps .previous{
  float:left;
}

.steps .yes-previous {
  float: left;
}

.steps .action-button:hover, .steps .action-button:focus, .action-button:hover, .action-button:focus {
  color: #444444 !important;
  background: white;
  text-decoration: none;
}

.steps .explanation{
display: block;
  clear: both;
  width: 540px;
  background: #f2f2f2;
  position: relative;
  margin-left: -30px;
  padding: 22px 0px;
  margin-bottom: -10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 10px;
  text-align: center;
  color: #333333;
  font-size: 12px;
  font-weight: 200;
  cursor:pointer;
}


/*headings*/
.fs-title {
  text-transform: uppercase;
     margin: 0 0 5px;
     line-height: 1;
     color: #444444;
     font-size: 18px;
    font-weight: 400;
    text-align:center;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #837E7E;
  margin-bottom: 20px;
  text-align: center;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  width:100%;
  text-align: center;
}
#progressbar li {
  list-style-type: none;
    color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #444444;
  color: white;
}


/* my modal */

.steps input, .steps textarea, .steps select {
  height: 30px;
  padding: 5px 10px;
  margin-right: 20px;
}
.steps select {
  padding: 5px;
}
.steps label {
  margin: 0px;
  padding-bottom: 5px;
}

/* RESPONSIVE */

/* moves error logs in tablet/smaller screens */

@media (max-width:1000px){

/*brings inputs down in size */
.steps input, .steps textarea {
  outline: none;
  display: block;
  width: 100% !important;
  }

  /*brings errors in */
  .error1 {
  left: 345px;
  margin-top: -58px;
}




}


@media (max-width:675px){
/*mobile phone: uncollapse all fields: remove progress bar*/

.steps {
  width: 100%;
  margin: 50px auto;
  position: relative;
}

#progressbar{
  display:none;
}

/*move error logs */
.error1 {
  position: relative;
  left: 0 !important;
  margin-top: 24px;
  top: -11px;
}

.error1:before {
  width: 0;
  height: 0;
  left: 14px;
  top: -14px;
  content: '';
  position: absolute;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #e62163;
  border-right: 6px solid transparent;
  }

/*show hidden fieldsets */
.steps fieldset:not(:first-of-type) {
  display: block;
}

.steps fieldset{
  position:relative;
  width: 100%;
  margin:0 auto;
  margin-top: 45px;
}

.steps .next, .steps .previous{
  display:none;
}

.steps .explanation{
  display:none;
}

.steps .submit {
  float: right;
  margin: 28px auto 10px;
  width: 100% !important;
}

}



/* Info */
.info {
  width: 300px;
  margin: 35px auto;
  text-align: center;
}

.info h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 5px;

}
.info span {
  color:#666666;
  font-size: 13px;
  margin-top:20px;
}
.info span a {
  color: #666666;
  text-decoration: none;
}
.info span .fa {
  color: rgb(226, 168, 16);
  font-size: 19px;
  position: relative;
  left: -2px;
}

.info span .spoilers {
  color: #999999;
  margin-top: 5px;
  font-size: 10px;
}




/*  Responsive  */



@media(max-width:777px)
{

  

  .table-hover tr th:nth-child(1),
  .table-hover tr th:nth-child(3),
  .table-hover tr td:nth-child(1),
  .table-hover tr td:nth-child(3)
  
  {
    display: none;
  }

  .bl tr th , 
  .bl tr td
  {
    display: inline-block !important;
  }


  fieldset
  {
    text-align: center;
  }

  fieldset .form-control,
  fieldset input
  {
    margin: auto;
  }

  fieldset .yes-previous
  {
    margin: auto !important;
    float: none !important;
  }

  fieldset .add-more-langues-link
  {
    display: block;
    margin-top:20px;
    margin: auto;
  }

  fieldset .lan
  {
    display: block;
    margin-bottom: 15px;
  }

  .steps .conf
  {
    display: block !important;
    margin: auto;
    float: none !important;
  }

  .prof
  {
    margin-top: 20px;
  }
  .mod
  {
    margin: auto;
    display: block;
  }
}

@media(min-width:576px ) and (max-width:991px)
{
  .table-hover tr th:nth-child(1),
  .table-hover tr td:nth-child(1)
  {
    display: none;
  }

  .bl tr th , 
  .bl tr td
  {
    display: inline-block !important;
  }
}


@media(min-width:382px ) and (max-width:991px)
{
  .dataTable tr th:nth-child(1),
  .dataTable tr td:nth-child(1),
  .dataTable tr th:nth-child(3),
  .dataTable tr td:nth-child(3),
  .dataTable tr td:nth-child(4) a:nth-child(3)
  {
    display: none;
  }

  .container-menu a
  {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
}